{
	"singleQuote": true,
	"printWidth": 100,
	"proseWrap": "always",
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"semi": true,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "scripts-styles-markup-options",
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		".",
		"./node_modules"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}